<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="tiernano, Tiernan OToole, technical, gadgetking, geek stuff" />
<meta name="description" content="TiernanOToole.ie is the home page of Tiernan OToole, a Programmer, Geek and Photographer from Dublin, Ireland" />
<meta http-equiv="content-type" content="text/html; charset=windows-1252" />
<title>Tiernan's git push blog</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') + 
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>

<script type='text/javascript'>
googletag.cmd.push(function() {
googletag.defineSlot('/7354361/post_lead_in', [234, 60], 'div-gpt-ad-1347398468556-0').addService(googletag.pubads());
googletag.defineSlot('/7354361/post_lead_out', [300, 250], 'div-gpt-ad-1347398468556-1').addService(googletag.pubads());
googletag.defineSlot('/7354361/sidebar', [120, 600], 'div-gpt-ad-1347398468556-2').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.enableServices();
});
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-220614-15']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/">TiernanOToole.ie</a></h1>
				<p>Yup... another blog...</p>
			</div>
			<div id="menu">
				<ul>
					<li><a href="http://tiernanotoole.ie">Blog Home</a></li>
					<li><a href="http://tiernanotoole.ie/about.html">About</a></li>
					<li><a href="http://feeds.feedburner.com/tiernanotoole">Feedburner Feed</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="content">
			<div class="post">
				{{ content }}
			</div>
			<div id="about">
				<h2>About</h2>
				<p>Geek, From Dublin, Ireland. What more can i say?</p>
				<h2>Contact Details</h2>
				<p>Tiernan OToole<br/>
					Twitter: <a href="http://twitter.com/tiernano">@tiernano</a><br/>
					Irish Ph: +353-76-602-0497<br/>
					UK Ph: +44-845-869-2488<br/>
					US Ph/SMS: +1-404-806-9387<br/>
					Skype: <a href="skype:tiernanotoole">tiernanotoole</a><br>
					<a href="http://tiernanotoole.ie">tiernanotoole.ie</a><br/>
					<a href="http://geekphotographer.com">geekphotographer.com</a><br/>
					<a href="http://blog.lotas-smartman.net">blog.lotas-smartman.net</a><br/>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<h2>Search</h2>
			<form action="http://tiernanotoole.ie/search.html" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-6435972961836580:6113752906" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="55" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.ie/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

			<h2>Outside Links</h2>
			<ul>
					<li><a href="/">Home</a></li>
                    <li><a href="/archive.html">Archive</a></li>
					<li><a href="/about.html">About</a></li>
                    <li><a href="http://photos.geekphotographer.com">Photos</a></li>
                    <li><a href="http://blog.lotas-smartman.net">Other Blog</a></li>
                    <li><a href="http://miniblog.tiernanotoole.ie">Micro Blog</a></li>
                    <li><a href="http://twitter.com/tiernano">My Twitter page</a></li>
			</ul>
			<h2>Internal Links</h2>

			<ul>
				<li><a href="/tag/VoIP/">VoIP stuff</a></li>
				<li><a href="/tag/Projects/">Projects</a></li>
				<li><a href="/tag/Programming/">Programming</a></li>
				<li><a href="/tag/Media%20Center/">Media Center</a></li>
				<li><a href="/godbox.html">Godbox</a></li>
			</ul>

			<h2>Paying the bills...</h2>
			<ul><li>
			<div id='div-gpt-ad-1347398468556-2' style='width:120px; height:600px;'>
			<script type='text/javascript'>
			googletag.cmd.push(function() { googletag.display('div-gpt-ad-1347398468556-2'); });
			</script>
			</div>
		</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2012 <a href="http://blog.lotas-smartman.net">Tiernan OToole</a>. {% render_time Page generated at: %} </p>
</div>
<!-- end #footer -->
<script type="text/javascript">
  var vglnk = { api_url: '//api.viglink.com/api',
                key: 'aecb90add8b6f7192e42ddfa3e65b611' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = ('https:' == document.location.protocol ? vglnk.api_url :
             '//cdn.viglink.com/api') + '/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>
</body>
</html>
